extends layout

block content
  nav.navbar.navbar-light.bg-light.static-top
  .container
    a.navbar-brand(href='#') Bisinu
  // Masthead
  header.masthead.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto
          h1.mb-5 Viaja con tranquilidad por toda la ciudad con el sistema de transporte publico de Bisinu!
        .col-md-10.col-lg-8.col-xl-7.mx-auto
          form
            .form-row
              .col-12.col-md-9.mb-2.mb-md-0
                input.form-control.form-control-lg(type='email' placeholder='Ingresa tu email...')
              .col-12.col-md-3
                button.btn.btn-block.btn-lg.btn-primary(type='submit') Registrate!
  // Icons Grid
  section.features-icons.bg-light.text-center
    .container
      .row
        .col-lg-4
          .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
            .features-icons-icon.d-flex
              i.icon-screen-desktop.m-auto.text-primary
            h3 Seguimiento online
            p.lead.mb-0 Vemos tu movimiento en la ciudad, ve tranquilo!
        .col-lg-4
          .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
            .features-icons-icon.d-flex
              i.icon-layers.m-auto.text-primary
            h3 Multiples sitios
            p.lead.mb-0 Tenemos multiples paraderos para que hagas tu prestamo!
        .col-lg-4
          .features-icons-item.mx-auto.mb-0.mb-lg-3
            .features-icons-icon.d-flex
              i.icon-check.m-auto.text-primary
            h3 Facil uso
            p.lead.mb-0 Solo registrate, ve a un paradero, y solicita tu bicicleta!

  // Image Showcases
  section.showcase
    .container-fluid.p-0
      .row.no-gutters
        .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/bg-showcase-1.jpg');")
        .col-lg-6.order-lg-1.my-auto.showcase-text
          h2 Seguimiento
          p.lead.mb-0
            | Tenemos GPS en las bicicletas, para ofrecerte un seguimiento seguro del transporte, y puedes disfrutar del paisaje de la ciudad simplemente con tranquilidad!
      .row.no-gutters
        .col-lg-6.text-white.showcase-img(style="background-image: url('img/bg-showcase-2.jpg');")
        .col-lg-6.my-auto.showcase-text
          h2 Estaciones
          p.lead.mb-0
            | Existen multiples estaciones de prestamo, solo ten la seguridad de realizar el registro, y podras disfurtar de la tranquilidad de un lindo paseo!
      .row.no-gutters
        .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/bg-showcase-3.jpg');")
        .col-lg-6.order-lg-1.my-auto.showcase-text
          h2 Facil registro
          p.lead.mb-0
            | Ingresa tu correo electronico, realiza el proceso de registro, y podras acceder a todos los beneficios de Bisinu, desde la comodidad de tu casa.
    section.showcase
      .container-fluid.p-0

    section#main_map
  // Testimonials
  section.testimonials.text-center.bg-light
    .container
      h2.mb-5 Que dicen nuestros usuarios...
      .row
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-1.jpg' alt='')
            h5 Margaret E.
            p.font-weight-light.mb-0 &quot;Es fantastico, muchas gracias por el servicio!&quot;
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-2.jpg' alt='')
            h5 Fred S.
            p.font-weight-light.mb-0
              | &quot;Puedo ir a mi trabajo con seguridad sin necesidad de tener miedo a perder el autobus.&quot;
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-3.jpg' alt='')
            h5 Sarah W.
            p.font-weight-light.mb-0 &quot;Gracias por el aporte a nuestra ciudad, ahora podemos disfrutar de unas lindas tardes en bicicleta!&quot;
  // Call to Action
  section.call-to-action.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto
          h2.mb-4 Estas listo para iniciar? Registrate ahora!
        .col-md-10.col-lg-8.col-xl-7.mx-auto
          form
            .form-row
              .col-12.col-md-9.mb-2.mb-md-0
                input.form-control.form-control-lg(type='email' placeholder='Ingresa tu email...')
              .col-12.col-md-3
                button.btn.btn-block.btn-lg.btn-primary(type='submit') Registrate!
  // Footer
  footer.footer.bg-light
    .container
      .row
        .col-lg-6.h-100.text-center.text-lg-left.my-auto
          ul.list-inline.mb-2
            li.list-inline-item
              a(href='#') Acerca de
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Contacto
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Terminos de uso
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Politicas de privacidad
          p.text-muted.small.mb-4.mb-lg-0 &copy; Coursera B-nodeJs 2020. All Rights Reserved.
        .col-lg-6.h-100.text-center.text-lg-right.my-auto
          ul.list-inline.mb-0
            li.list-inline-item.mr-3
              a(href='#')
                i.fab.fa-facebook.fa-2x.fa-fw
            li.list-inline-item.mr-3
              a(href='#')
                i.fab.fa-twitter-square.fa-2x.fa-fw
            li.list-inline-item
              a(href='#')
                i.fab.fa-instagram.fa-2x.fa-fw
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/javascripts/map.js')

