extends ../layout

block content
  br
  section
    .container
      .col-xl-9.mx-auto
        h1.mb-5 Crear Bicicleta
      .col-md-10.col-lg-8.col-xl-7.mx-auto
        form(action='/bycyclets/create' method='POST')
          .form-row
            .form-group.col-md-6
              label(for='idInput') Id
              input#idInput.form-control(type='number' name='idInput' placeholder='Id Bicicleta')
            .form-group.col-md-6
              label(for='modelInput') Modelo
              input#modelInput.form-control(type='text' name='modelInput' placeholder='Modelo de la bicicleta')
          .form-group
            label(for='latInput') Latitud
            input#latInput.form-control(type='text' name='latInput' placeholder='Latitud de la Bicicleta')
          .form-group
            label(for='lngInput') Longitud
            input#lngInput.form-control(type='text' name='lngInput' placeholder='Longitud Bicicleta')
          .form-row
            .form-group.col-md-4
              label(for='colorInput') Color
              select#colorInput.form-control(name='colorInput')
                option(selected='') Seleccionar...
                option Amarillo
                option Azul
                option Verde
                option Rojo
                option Morado
                option Gris
                option Oliva
                option Naranja
          button.btn.btn-primary(type='submit') Registrar  
          a.btn.btn-danger(type='button' href='/bycyclets') Cancelar