extends ../layout

block content
  a.btn.btn-primary(href='/bycyclets/create' role='button') Crear
  table.table.table-striped
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col') Accion
    tbody
      each bycy in bycys
        tr
          td(scope='row')= bycy.id
          td= bycy.color
          td= bycy.model
          td= bycy.ubication
          td
            form.inline(action='bycyclets/'+bycy.id+'/delete' method='POST')
              input(type='hidden' name='id' value=bycy.id)
              button.btn.btn-outline-danger(type='submit' role='button') Eliminar
              a.btn.btn-outline-warning(href='bycyclets/'+bycy.id+'/update' role='button') Editar