extends ../layout

block content
  br
  section
    .container
      .col-xl-9.mx-auto
        h1.mb-5 Actualizar Bicicleta
      .col-md-10.col-lg-8.col-xl-7.mx-auto
        form(action=`/bycyclets/${bycycle.id}/update` method='POST')
          .form-row
            .form-group.col-md-6
              label(for='idInput') Id
              input#idInput.form-control(type='number' name='idInput' value=bycycle.id)
            .form-group.col-md-6
              label(for='modelInput') Modelo
              input#modelInput.form-control(type='text' name='modelInput' value=bycycle.model)
          .form-group
            label(for='latInput') Latitud
            input#latInput.form-control(type='text' name='latInput' value=bycycle.ubication[0])
          .form-group
            label(for='lngInput') Longitud
            input#lngInput.form-control(type='text' name='lngInput' value=bycycle.ubication[1])
          .form-row
            .form-group.col-md-4
              label(for='colorInput') Color
              select#colorInput.form-control(name='colorInput')
                option(selected='') Seleccionar...
                option Amarillo
                option Azul
                option Verde
                option Rojo
                option Morado
                option Gris
                option Oliva
                option Naranja
          button.btn.btn-warning(type='submit') Actualizar  
          a.btn.btn-danger(type='button' href='/bycyclets') Cancelar